<<<<<<< HEAD
﻿
@{
	Layout = "_AccountLayout";
	ViewData["Title"] = "Login";
}

<div class="login-page" style="min-height: 466px;">
	<div class="login-box">

		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<h1>Sign In</h1>
			</div>
			<div class="card-body">
				<form class="login">
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Email" id="emailL">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Password" id="passwordL">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block">Sign In</button>
						</div>
					</div>
				</form>

				<p class="mb-1">
					<a href="ForgotPassword">I forgot my password</a>
				</p>
				<p class="mb-0">
					<a href="Register" class="text-center">Create account</a>
				</p>
			</div>

		</div>

	</div>
=======
﻿@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Index";
}

<div class="signup">
	<form>
		<label for="chk" aria-hidden="true">Sign up</label>
		<input type="text" name="txt" placeholder="User name" required="">
		<input type="email" name="email" placeholder="Email" required="">
		<input type="password" name="pswd" placeholder="Password" required="">
		<button>Sign up</button>
	</form>
</div>

<div class="login">
	<form>
		<label for="chk" aria-hidden="true">Login</label>
		<input type="email" name="email" placeholder="Email" required="">
		<input type="password" name="pswd" placeholder="Password" required="">
		<button>Login</button>
	</form>
>>>>>>> 099c4fb3a26df2f4332956178d03e21484f9891c
</div>