@{
    Layout = "_Adminlayout";
    ViewData["Title"] = "Index";
}
<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Payment</h1>
          </div>
        </div>
      </div>
    </div>

<div class="card">
    <div class="card-body">
        <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#modal-create">+ Add Payment</button>
        <table class="table table-bordered table-hover" id="tablePayment">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Payment Name</th>
                    <th>Payment Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!--CREATE MODAL-->
    <div class="modal fade" id="modal-create" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Payment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="quickForm" novalidate="novalidate">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Payment Name</label>
                            <input type="text" name="name" class="form-control is-invalid" id="namePayment"
                                   placeholder="Enter Payment name" aria-describedby="name-error">
                            <span id="name-error" class="error invalid-feedback">Please enter a Payment name!</span>
                            <label for="name">Payment Number</label>
                            <input type="text" name="name" class="form-control is-invalid" id="numberPayment"
                                   placeholder="Enter Payment number" aria-describedby="name-error">
                            <span id="name-error" class="error invalid-feedback">Please enter a Payment number!</span>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnSave" onclick="create()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- EDIT MODAL -->
    <div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Payment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="quickForm" novalidate="novalidate">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nameEdit">Payment Name</label>
                            <input type="text" name="name" class="form-control is-invalid" id="nameEdit"
                                   placeholder="Enter Payment name" aria-describedby="name-error">
                            <span id="name-error" class="error invalid-feedback">Please enter a Payment name!</span>
                            <label for="name">Payment Number</label>
                            <input type="text" name="name" class="form-control is-invalid" id="numberEdit"
                                   placeholder="Enter Payment number" aria-describedby="name-error">
                            <span id="name-error" class="error invalid-feedback">Please enter a Payment number!</span>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnEdit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/AdminPayment.js"></script>