@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Order";
}

<div class="page-header min-height-400" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="text-white">ORDERS</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
        
        <table id="tableOrder" class="table table-striped table-hover" style="width: 100%;">
            <thead style="position: sticky;top: 40px" class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>OrderDate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tableOrderAPI">
            </tbody>
        </table>
    </div>
</div>