@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/AdminStyle.css">
<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Product</h1>
          </div>
        </div>
      </div>
    </div>

<div class="card">
    <div class="card-body">
        <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#createModal">+ Add Product</button>
        <table class="table table-bordered table-hover" id="tableProduct">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    @*Modal Create*@
    <div class="modal fade" id="createModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="quickForm" class="addProduct" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" name="name" class="form-control" id="name" />
                        </div>
                        <div class="form-group">
                            <label for="stock">Stock</label>
                            <input type="number" name="name" class="form-control" id="stock" />
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" name="name" class="form-control" id="price" />
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="productPict">Product Pict</label>
                            <div class="input-group">
                                <input type="file" id="productPict" accept="image/jpeg, image/png, image/jpg">
                                <div id="display-image"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoryId">Category</label>
                            <select class="form-control" name="categoryId" id="categoryId">
                                <option selected disabled value="">Choose..</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detailProductModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card card-solid">
                        <div class="card-body" id="detailBody">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    @*Edit*@
    <div class="modal fade" id="editProductModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="quickForm" class="editProduct">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" name="name" class="form-control" id="nameEdit" />
                        </div>
                        <div class="form-group">
                            <label for="stock">Stock</label>
                            <input type="number" name="name" class="form-control" id="stockEdit" />
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" name="name" class="form-control" id="priceEdit" />
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="descriptionEdit" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Product Pict</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="productPictEdit">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">Upload</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoryId">Category</label>
                            <select class="form-control" name="categoryId" id="categoryIdEdit">
                                <option selected disabled value="">Choose..</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnEdit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/AdminProduct.js"></script>