@{
    Layout = "_Adminlayout";
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover" id="tableUser">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/AdminUser.js"></script>
