@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Products";
}


<div class="page-header min-height-400" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="text-white">PRODUCT</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
        <div>
            <h3>Shopping Cart</h3>
            <table id="cart" class="display" cellspacing="0" width="100%">        
                <thead>
                    <tr>
                        <th>ID</th>   
                        <th></th>
                        <th>Product</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Sub Total</th>
                        <th>Action</th>
                    </tr>
                </thead>        
                <tfoot>
                    <tr>
                        <th>ID</th>   
                        <th></th>
                        <th>Product</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Sub Total</th>
                        <th>Action</th>
                    </tr>        
                </tfoot>
                <tbody>
                </tbody>       
            </table>
        </div>

        <div>
            <h3>Explore</h3>

            <table class="table" id="tableProductUser">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Pic</th>
                        <th>Name</th>
                        <th>CategoryID</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Pic</th>
                        <th>Name</th>
                        <th>CategoryID</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>


<!-- Detail Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>

<!-- Checkout Modal -->
<div class="modal fade modal-lg" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Checkout Order</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="row">
                        <div class="col-sm">
                            <table class="table" id="tableProductUser">
                            <thead>
                                <tr>
                                    <th>Pic</th>
                                    <th>Name</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Sub Total</th>
                                </tr>
                                </thead>
                            <tbody id="checkoutBody">
                            </tbody>
                            <tfoot>                    
                            </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="totalAmount">
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">            
            <div class="modal-body">
                <h4>Confirm Order?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
